.sidebar {
  width: 20.625rem;
  height: 100vh;
  padding-top: 20px;
  background-color: var(--default-blue);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.sidebar.open {
  transform: translateX(0);
}

.sidebarHeader {
  display: flex;
}

.closeBtn {
  margin-right: 1rem;
  margin-left: 20px;
  color: #fff;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.closeIcon {
  width: 55px;
  height: 55px;
}

.conversationList {
  list-style: none;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  width: 100%;
}

.conversationListItem,
.conversationListItemNewChat {
  width: 90%;
  text-align: left;
  display: flex;
  align-items: center;
  height: 3rem;
  border-radius: 18px;
}

.conversationListItem {
  justify-content: space-between;
}

.conversationListItem.selected {
  background-color: #00C8FF !important;
}

.conversationListItem:hover,
.conversationListItemNewChat:hover {
  background-color: #00A2FF;
}

.conversationListItem:active,
.conversationListItemNewChat:active {
  background-color: #00C6FD;
}



.conversationListItem a {
  height: 100%;
  display: flex;
  align-items: center;
}

.conversationListItem h4,
.conversationListItem input {
  margin-left: 10px;
}

.conversationTitle {
  font-weight: 400;
}

.conversationListItemButton {
  margin-right: 10px;
  background-color: transparent;
  color: #fff;
  font-size: 1.5rem;
  border: none;
}

.conversationListItemButton:hover {
  cursor: pointer;
}

.conversationListItemNewChat a {
  display: flex;
  gap: 30px;
  justify-content: start;
  width: 100%;
}

.conversationListItemNewChatIcon {
  font-size: 1.75rem;
  margin-left: 10px;
}
