.authPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pageTitle {
  margin-top: 4.125rem;
}

.container {
  background-color: var(--default-blue);
  width: 632px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3.125rem;
  padding: 2rem;
  border-radius: 20px;
}

.button {
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 10px;
  color: #fff;
}

.registerBtn {
  background-color: var(--soft-pink);
  border: none;
}

.loginBtn {
  background-color: transparent;
  border: 1px solid #fff;
}
